--extra-index-url https://download.pytorch.org/whl/cpu

# Core ML & Vision dependencies
torch
torchvision
torchaudio
opencv-python-headless==4.8.1.78

# Data processing
numpy = 1.26.4
pandas

# API Framework
fastapi
uvicorn
python-multipart
scikit-learn
pillow
pyyaml

python-box
ensure